---
import Layout from '../layouts/Layout.astro';
import BookTable from '../components/BookTable.vue';
import { loadAllJson } from '../lib/loadBooks.js';
import { mergeBooksFuzzy } from '../lib/mergeBooksFuzzy.js';

const folder = import.meta.env.READING_DATA_PATH;
const combinedData = loadAllJson(folder!);
const mergedBooks = mergeBooksFuzzy(combinedData, 0.95, 0.85);
---
<Layout>
  <!-- <h1>Books Table</h1> -->
  <BookTable books={mergedBooks} client:load />
</Layout>